.wheel-positioning {
  height: 110vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 60px;
}

.wheel-overlay-top {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;      /* ⚙️ Ajusta si quieres cubrir menos o más */
  width: 100%;
  background-color: #e0e0e0; /* ⚪ color gris claro */
  z-index: 2;
  pointer-events: none;
}