.wheel-positioning {
  height: 110vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 60px;
}

.wheel-overlay-top {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 42%;      
  width: 100%;
  background-color: #2a2929; 
  z-index: 2;
  pointer-events: none;
}