.wheel-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
}

.rotating-group {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.wheel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}



.wheel-container {
  outline: none;
  user-select: none;
}

.wheel-container:focus {
  outline: none;
}

.rotating-group {
  transition: transform 0.2s ease-out;
  will-change: transform;
}

.rotating-ring {
  position: absolute;
  width: 120%;
  height: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid red;
  border-radius: 50%;
  z-index: -1;
}


.dot-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: center;
}


.card {
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.card h4 {
  margin: 0;
  padding: 10px;
  font-size: 16px;
}



